/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
	fontSize: 16px;
	fontFamily: 微软雅黑;
}

s|Button {
	skinClass:ClassReference("com.codinghall.skin.mac.ButtonSkin");
}

s|ButtonBar {
	skinClass:ClassReference("com.codinghall.skin.mac.ButtonBarSkin");
}

s|TabBar {
	skinClass:ClassReference("com.codinghall.skin.mac.TabBarSkin");
}

s|DropDownList {
	skinClass:ClassReference("com.codinghall.skin.mac.DropdownListSkin");
}

s|TitleWindow {
	skinClass:ClassReference("com.codinghall.skin.mac.TitleWindowSkin");
}

s|VScrollBar {
	skinClass:ClassReference("com.codinghall.skin.mac.VScrollerBarSkin");
}

